@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navBar {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.navBar .navBar1 {
  /* background-color: aquamarine; */
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navBar .navBar1 .navbarLogo {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  font-size: 16px;
}
.navBar .navBar1 .navbarLogo span{

color: #1D1D1D;
font-weight: 700;
line-height: 32.40px;
word-wrap: break-word
}

.navBar .navBar1 .navbarDetail {
  /* background-color: antiquewhite; */
  min-width: 40%;
}
.navBar .navBar1 .navbarDetail ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar .navBar1 .navbarDetail ul li {
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}

.navBar .navBar1 .navbarDetail ul  .SignIn {
  background-color: #272757;
  color: white;
  padding: 5px 30px;
  font-size: 15px;
  border-radius:50px;
  cursor: pointer;
}

