.HeroSection{
    /* background-image: url('../../../assets/HeroSection.png'); */
    height: 80vh;
    background-color: #ccccdb;
}

.HeroSection .heroSection1{
    display: flex;
    background-color: aqua;
}