.AchievementsForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.AchievementsForm1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AchievementsForm .form-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.AchievementsForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.AchievementsForm label {
  display: block;
  margin-top: 10px;
}

.AchievementsForm input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.AchievementsForm .AchievementsForm1 select{
  width: 105%;
}

.AchievementsForm .button {
  width: 105%;
  padding: 10px;
  margin-top: 15px;
  background-color: #2c2541;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AchievementsForm button:hover {
  background-color: #1f1a33;
}
