.StudentAttendance {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #CCCCDB;
    width:85vw ;
    height: 100%;
}

.AttendanceTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* background-color: white; */
}
 .AttendenceDetail{
    background-color: white;
    padding: 20px;
    width: 100%;
    margin: 0px auto;
}

.AttendanceTable th, .AttendanceTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.AttendanceTable th {
    background-color: #272757;
    color: white;
}

.AttendanceTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.AttendanceTable tr:hover {
    background-color: #ddd;
}
