.Teachernotice{
    background-color: white;
    width: 85vw;
    height: 100%;
}

.Teachernotice .Teachernotice1{
    /* background-color: aquamarine; */
    width: 90%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 30px 0;
}

.Teachernotice .Teachernotice1 .NoticeNavbar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Teachernotice .Teachernotice1 .NoticeNavbar .NoticeCreate button{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color: #0D141C;
    cursor: pointer;
}

.Teachernotice .Teachernotice1 .NoticeSearch{
    background-color: azure;
    display: flex;
    align-items: center;    
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.Teachernotice .Teachernotice1 .NoticeSearch input{
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
    width: 100%;
}

.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1{
    display: flex;
    /* background-color: white; */
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1 .NoticeDetail2{
    display: flex;
    align-items: center;

}

.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1 .NoticeDetail2 .NoticeImage{
    /* background-color: #0D141C; */
    width: 30%;
}


.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1 .NoticeDetail2 .NoticeImage img{
    width: 100%;
}

.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1 .NoticeDetail2 .NoticeInformation{
    padding-left: 10px;
    /* background-color: aliceblue; */
}


.Teachernotice .Teachernotice1 .NoticeDetails .NoticeDetail1 .NoticeDetail2 .NoticeInformation .Noticep p{
    padding-top: 10px;
}