@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.login {
  width: 100%;
  /* background-color: aqua; */
}

.login .login1 {
  /* background-color: aquamarine; */
  display: flex;
  height: 100vh;
}



.login .login1 .loginfirstside {
  width:51%;
  background-color: #ccccd8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.login .login1 .loginfirstside img {
  width: 60%;
  height: 60%;
  padding-left: 120px;
  position: absolute;
}

.login .login1 .loginSecondside {
    /* background-color: aliceblue; */
    width: 49%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
.login .login1 .loginSecondside .loginSecondside1{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2{
    width: 100%;
    /* background-color: blueviolet; */
    padding: 40px;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .loginHeading h2{
    color: #272757;
    font-size: 25px;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .loginUserId .userId p{
    color: #272757;
    font-size: 14px;
    padding-top: 20px;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .loginUserId .userIdInput input{
    width: 100%;
    padding: 8px 10px ;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #828282;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .loginPassword .password p{
    color: #272757;
    font-size: 14px;
    padding-top: 10px;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .loginPassword .passwordInput input{
    width: 100%;
    padding: 8px 10px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #828282;

}


.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .RememberForgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .RememberForgot .RememberMe{
    display: flex;
}
.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .RememberForgot .RememberMe span{
    padding-left: 4px;
    color: #A1A1A1;
    font-weight: 400;
    font-size: 14px;
}
.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .RememberForgot .forgotPassword{
    color: #272757;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.login .login1 .loginSecondside .loginSecondside1 .loginSecondside2 .Loginbtn button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #272757;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}



